/__pycache__/
*/__pycache__/
/build/
/restart_helper/build/
/dist/
/.vscode/
/.devdocs/*
!/.devdocs/
!/.devdocs/SESSION_LOG.md
!/.devdocs/logging.md
!/.devdocs/REFERENCE.md
!/.devdocs/ARCHITECTURE_GUIDE.md
!/.devdocs/STYLING_GUIDE.md
/vendor/

*.pyc
*.pyo
*.log
*.jsonl
*.ankiaddon

AGENTS.md

meta.json
config.json
